.player {
  position: relative;
}
.html5-player{
  position: relative;
}

.html5-player:hover .player-control-bg{
  height: 15%;
}

.player-video{
  margin: 0;
  height: 100%;
}

.player-control-bg{
  position: absolute;
  height: 0;
  background: rgba(0, 0, 0, 0.71);
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: ease 1s;
}

.player-control-bg:hover{
  display: block;
}

.player-video video {
  width: 100%;
  height: auto;
  display: block;
}
.player-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(221, 237, 245, 0.75);
}
input[type=range]::-webkit-slider-thumb {
  height: 100%;
  width: 10px;
  background: #ff510a;
  cursor: pointer;
  -webkit-appearance: none;
}
/*input[type=range]:focus::-webkit-slider-runnable-track {*/
  /*background: #50555C;*/
/*}*/
